.grid-container {
    display: grid;
    grid-template-columns: 20% auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}
  
.grid-container > div {
    background-color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
  
.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.item4 {
    grid-column-start: 1;
    grid-column-end: 3;
}